* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* สีหลักของเว็บไซต์ */
    --primary-color: rgb(0, 81, 255);
    --primary-dark-color: rgb(0, 0, 170);
    --secondary-color: purple;

    /* สีข้อความ */
    --font-color: black;
    --font-milk-color: rgb(156, 155, 155);

    /* สีปุ่ม */
    --button-bg-color: rgb(255, 255, 255);
    --button-dark-color: rgb(57, 57, 207);
    

    /* สีพื้นหลัง */
    --heder-color: rgba(255, 255, 255, 0.747);
    --footer-bg-color: rgb(83, 83, 83);


    /* สีเงา */
    --header-shadow-color: rgb(211, 209, 209);

}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: var(--heder-color);
    padding-block: 2rem; /* 16 px */
    box-shadow: 0 3px 10px var(--header-shadow-color);
    backdrop-filter: blur(10px);

    /* ทำให้กับที่ */
    position: sticky;
    top: 0;

    /* layer ทำให้ไม่ซ้อนทับกับอะไร */
    z-index: 99 ;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.header-icon {
    font-size: 2.5rem;
}

.header-title {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--primary-color);
}

.header-subtitle {
    margin-left: 10px;
    margin-top: 5px;
}

.category-nav {
    text-align: center;
    margin: 50px 50px;
}

.category-nav label {
    text-decoration: none;
    color: black;
    border-radius: 50px;
    background-color: var(--button-bg-color);
    padding: 12px 22px;
    margin: 0 20px;
    box-shadow: 0 5px 10px var(--header-shadow-color);
    transition: transform 1s ;
    transition: 0.15s;
    display: inline-block;
    user-select: none; /* ผู้ใช้ไม่สามารถ highlight ได้ */
    cursor: pointer;
}

.filter-radio {
    /* display: none; */
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip-path: 50%;
}

#filter-all:checked ~ .category-nav label[for="filter-all"],
#filter-dog:checked ~ .category-nav label[for="filter-dog"],
#filter-cat:checked ~ .category-nav label[for="filter-cat"],
#filter-bird:checked ~ .category-nav label[for="filter-bird"],
#filter-fish:checked ~ .category-nav label[for="filter-fish"],
#filter-small-pets:checked ~ .category-nav label[for="filter-small-pets"] {
    background-color: var(--secondary-color);
    color: white;
}

.category-title {
    display: none;
}

#filter-all:checked ~ main .title-all,
#filter-dog:checked ~ main .title-dog,
#filter-cat:checked ~ main .title-cat,
#filter-bird:checked ~ main .title-bird,
#filter-fish:checked ~ main .title-fish,
#filter-small-pets:checked ~ main .title-small-pets {
    display: inline;
}

.category-nav label:hover {
    background-color: var(--button-dark-color);
    color: white;
    transform: translateY(-3px);
}

.category-nav label.active {
    background-color: var(--secondary-color);
    color: white;
}

.page-title {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

}

#filter-dog:checked ~ main .pet-card:not(.show-dog),
#filter-cat:checked ~ main .pet-card:not(.show-cat),
#filter-bird:checked ~ main .pet-card:not(.show-bird),
#filter-fish:checked ~ main .pet-card:not(.show-fish),
#filter-small-pets:checked ~ main .pet-card:not(.show-small-pets) {
    display: none;
}

.pet-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: aqua; */
    /* margin: 10px 20px; */
}

.pet-card {
    margin: 10px 10px;
    box-shadow: 0 8px 10px var(--header-shadow-color);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 3rem;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.pet-card:hover {
    transform: translateY(-10px);
}

img {
    width: 100%;
    height: 16.25rem;
    object-fit: cover;
    object-position: center;
}

.pet-content {
    margin: 10px 20px;
}

.pet-content h2 {
    color: var(--primary-color);
}

.pet-content p {
    margin: 10px 0;
}

.breed {
    color: var(--font-milk-color);
}

/* detail button */
.pet-info {
    list-style: none;
    line-height: 2rem;
    margin: 1rem 0;
}

.info-lifespan {
    color: var(--primary-color);
}

.info-size {
    color: green;
}

.info-temperament {
    color: rgb(206, 0, 0);
}

.pet-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}

/* .pet-btn::marker {
    color: var(--primary-color);
} */

.pet-details summary {
    list-style: none;
}

.pet-details-body {
    margin-top: 20px;
}

.hide-detail {
    display: none;
}
.pet-details:open .show-detail {
    display: none;
}
.pet-details:open .hide-detail {
    display: inline;
}

.pet-details-body {
    border-top: 1px solid rgb(207, 205, 205);
    padding: 1rem ;
    animation: appear 1s ease-out;
}

@keyframes appear {
    /* ความจางให้เป็น 0 แล้วเลื่อนลงมา จากบนลงล่าง */
    from {opacity: 0; transform: translateY(-50px);} 
    to {opacity: 1; transform: translateY(0);}
}

.pet-btn:hover {
    background-color: var(--button-dark-color);
    transform: translateY(-4px);
    transition: 0.2s;   
}

.info-section {
    border: 1px solid rgb(205, 203, 203);
    border-radius: 5px;
    padding: 30px 20px 20px;
    margin: 10px 0 30px;
    box-shadow: 5px 8px 20px var(--header-shadow-color);
}

.info-section h2 {
    text-align: center;
}

.milk-color {
    color: var(--font-milk-color);
    text-align: center;
    margin: 10px 0;
}

.info-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.info-card h3 {
    margin-bottom: 10px;
}

.info-blue {
    background-color: rgb(214, 224, 255);
    border-radius: 10px;
    padding: 20px;
}
.info-blue h3 {
    color: rgb(0, 0, 86);
}

.info-purple {
    background-color: rgb(255, 214, 252);
    border-radius: 10px;
    padding: 20px;
}
.info-purple h3 {
    color: rgb(86, 0, 85);
}

.info-green {
    background-color: rgb(214, 255, 224);
    border-radius: 10px;
    padding: 20px;
}
.info-green h3 {
    color: rgb(0, 86, 23);
}

.info-orange {
    background-color: rgb(255, 239, 214);
    border-radius: 10px;
    padding: 20px;
}
.info-orange h3 {
    color: rgb(86, 26, 0);
}

.pet-table {
    /* border: 1px solid red; */
    border-collapse: collapse;
    margin-top: 2rem;
}
.pet-table th {
    border: 1px solid var(--font-milk-color);
    background-color: rgb(236, 234, 234);
}
.pet-table td {
    border: 1px solid var(--font-milk-color);
    padding: 0.8rem;
}
.pet-table thead th {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
}
.pet-table th:nth-child(1) {
    width: 200px;
    height: 70px;
}
.pet-table th:nth-child(3) {
    width: 150px;
}
.pet-table th:nth-child(5) {
    width: 150px;
}
.pet-table tr:nth-child(even){
    background-color: antiquewhite;
}
.pet-table tr:hover {
    background-color: rgb(183, 195, 212);
}

.pet-table caption {
    padding: 0.75rem;
    font-weight: bold;
    caption-side: top;
}

fieldset {
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(187, 187, 187);
    margin-bottom: 1rem;
}

legend {
    color: var(--primary-color);
}

.pet-form {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    flex-wrap: wrap; /* ใช้ในการตัดคำเมื่อ responsive หรือ ตามพื้นที่ที่เหลือ */
    padding: 0.8rem 0;
}

.form-select input {
    accent-color: var(--secondary-color); /* เปลี่ยนสี radio pointer */
}

.form-select label {
    background-color: rgb(206, 206, 206);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.form-select input:checked + label { /* เมื่อ input หรือ radio เป็น check ให้ label เปลี่ยนสี (จะใช้ + ได้ในกรณีที่ input กับ label อยู่ติดกัน แต่ถ้าไม่อยู่ติดกันให้ใช้ ~ เช่น input h2 label ให้ใช้สัญลักษณ์นี้)*/

    background-color: var(--secondary-color);
    color: white;
}

footer {
    padding-block: 2rem;
    background-color: var(--footer-bg-color);
    color: white;
    text-align: center;
}

/* responsive */
@media (max-width: 992px) {
    .pet-grid {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat( auto-fit, minmax(min(100%,300px), 1fr));
    }
}
@media (max-width: 768px) {
    .info-grid {
        /* grid-template-columns: repeat(1, 1fr); */

        /* ให้จัดตัว grid เองโดยกล่องเล็กได้ไม่เกิน 250 ถ้ามากกว่านี้ auto */
        /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr)); */ 

        grid-template-columns: repeat( auto-fit, minmax(min(100%,250px), 1fr));

    }
    .category-nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
